
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');


* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box;   */
}

body {
  background-color: rgb(104, 89, 89);
  min-height: 100vh;
  overflow-x:hidden;
  display: flex;
  flex-direction: column;
}

header {
  z-index: 2;
  justify-content: space-between;
  display: flex;
  animation:  1s cubic-bezier(0.175, 0.885, 0.320, 1.06) both slide-in-right; 
  align-items: center;
  padding-left: 10px;
  padding-right: 30px;
  gap: 20px;
  background-color: rgb(51, 94, 113);

}


.about-me {
  padding-left: 20%;
  padding-right: 20%;
  
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: rgb(245, 245, 247);
  position: relative;
  animation:  1s cubic-bezier(0.175, 0.885, 0.320, 1.06) both slide-in-right; 
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
}

.para-container p {
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
  padding: 40px;
  border-radius: 5px;
  color: rgb(44, 41, 41);
}

.animate-me {
  animation: tracking-in-contract 0.85s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate both;
  cursor: pointer;
  color: rgb(241, 239, 91);
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 0.13em;
    opacity: 0.8;
    
  }
  40% {
    opacity: 0.9;
  }
  100% {
    letter-spacing: 0.08em;
    opacity: 1;
    
  }
}

.para-container {
  display: flex;
  gap: 30px;
  
 
}

#first-para-visible {
  z-index: 1;
  visibility: visible;
  filter: drop-shadow(5px 5px rgb(203, 199, 201));
  background-color: rgb(245 84 46 / 57%);
  animation: rotate-scale-up-one 0.85s linear both;
}

#second-para-visible {
  
  visibility: visible;
  filter: drop-shadow(5px 5px rgb(203, 199, 201));
  background-color: rgb(47 197 159 / 65%);
  animation: roll-in-blurred-left 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation-delay: 3.5s;
}


#first-para {
  visibility: hidden;
  filter: drop-shadow(5px 5px rgb(203, 199, 201));
  
}

#second-para {
  visibility: hidden;
  filter: drop-shadow(5px 5px rgb(203, 199, 201));
  
}

@keyframes rotate-scale-up-one {
  0% {
    opacity: 0;
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(1.2) rotateZ(180deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes roll-in-blurred-left {
  0% {
    transform: translateX(1000px) rotate(-720deg) scale(0.7);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg) scale(1);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes roll-in-right {
  0% {
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}


.work {
  z-index: 1;
  height: 500px;
  background-color: cadetblue;
}


@keyframes shape {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

h2 {
  position: relative;
  z-index: 1;
  color: rgb(242, 235, 235);
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(49 110 137 / 74%);
  padding: 30px;
  filter: drop-shadow(10px 10px rgb(201, 185, 188));
}

ul {
  font-family: 'Dosis', sans-serif;
  list-style-type: none;
  position:absolute;
  font-size: 2.5rem;
  top: 0px;
  left: 0px;
  margin-left: 5px;
  margin-top: 5px;
}

nav ul > li {
  display: none; 
  color: white;
}

nav:hover ul li {
  background-color: rgb(33, 32, 34);
  display: block;
  color: white;
  animation: expand 500ms ease-in;
 
}

li {
  padding: 30px;
  padding-right: 50px;
  border-right: 0.1rem solid white; 
}

a:link, a:visited {
  text-decoration: none;
  color: white
}

.not-active {
  pointer-events: none;
  touch-action: none;
}

a:hover {
  color:rgb(178, 130, 130)
}

li:nth-child(1) {
  padding-top: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

li:nth-child(4)  {
  padding-bottom: 60px;
  border-bottom: 0.05rem solid white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

nav {
  margin: 10px;
  margin-left: 40px;
}

.menu {
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
  height: 75px;
  width: 50px;
  animation: rotate-center 0.8s ease-in-out forwards;
  animation-delay: 0.5s;
}

.menu div {
  flex: 1;
}

img {
  object-fit: contain;
  width: 100%;
  display:block;
}

main {
  z-index: 1;
  animation: slide-in-top 1s ease-in-out both;
  background-color: rgb(245, 245, 247);
  flex: 1;
}

footer {
  z-index: 1;
  min-height: 20vh;
  background-color: blanchedalmond;
}

.menu-dark {
  background-color: rgb(231, 233, 234);
}

h1 {
  font-size: 5rem;
  font-family: 'Pacifico', cursive;
  color: white;
  margin: 0px;
  font-weight: 200;
  padding-bottom: 20px;
}

@media (max-width: 420px) {

  @keyframes roll-in-blurred-left {
    0% {
      transform: translateY(-1000px) rotate(-720deg) scale(0.7);
      filter: blur(50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0) rotate(0deg) scale(1);
      filter: blur(0);
      opacity: 1;
    }
  }
  
  .menu {
    height: 45px;
    width: 35px;
    animation-delay: 0s;
  }

  .about-me {
    padding-top: 15px;;
    padding-left: 35px;
    padding-right: 35px;
  }

  h2 {
    font-size: 2rem;
  
  }

  .shape-right {
    display: none;
    height: 0px;
    width: 0px;
    
  }

  .about-me p {
    
    font-size: 1.65rem;
    padding: 20px;
  }

  .para-container {
    flex-direction: column;
    gap: 25px;
  }


  nav {
    margin-left: 20px;
  }

  ul {
    
    font-size: 2rem;
  }

  h1 { 
   
    font-size: 3.5rem;
    font-weight: 200;
  }
}



@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateX(100%);
    
  }
  100% {
    transform: translateX(0);
   
  }
}

@keyframes expand {
  0% {
    transform: translate(-200px);
    opacity: 0
  }

  100% {
    transform: translate(0px);
    opacity: 1
  }
}


@keyframes open-menu { 
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-90deg);
    
  }
}

@keyframes close-menu { 
  0% {
    transform: rotate(-90deg);
  }

  60% {
    transform: rotate(30deg);
  }

  90% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0);
    
  }
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
    opacity: 1;
  }

  100% {
    transform: rotate(450deg);
    opacity: 1
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(-100%);
    opacity: 0.5;
  }

  100% {
    transform: translateX();
    opacity: 1;
  }
}
