html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 15px;
  background-color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 30px;

}

.header p {
  max-width: 20rem;
}

#frame {
  height: 100%;
  width: 100%;
  /* padding: 20px; */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 70px; 
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.outer-frame {
  height: 100%;
  background-color: rgb(212, 212, 212);
  border-width: 2px;
  border-color: rgb(156, 195, 229);
  border-style: solid;
}

.about-me {
  width: 50%;
  padding-top: 10px;
  text-align: justify;
  scrollbar-width: none;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 70px;

  /* mask-image: linear-gradient(to bottom, transparent 25%, black 75%); */
} 

.project  {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project svg {
  height: 2rem;
  width: 2rem;
}

p {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

h1 {
  font-family: "Gemunu Libre", "Monofett", "Silkscreen", "Monoton","Poiret One", sans-serif;
  font-size: 4.5rem;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header h2 {
  padding-left: 5px;
}

h2 {
  font-family: "Zilla Slab Highlight", "Gemunu Libre";
  font-size: 1.5rem;
}



.project-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-left: 10px;
}

.project-header {
  display: flex;
  justify-content: space-between;
}

.project-header h3 {
  align-content: center;
  font-size: 1.5rem;
}

.project-list li {
  border: solid rgb(189, 189, 189);
  background-color: rgb(219, 219, 219);
  border-radius: 0.3rem;
  border-width: .15rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.project-links {
  padding-top: 10px;
}

.project-links ul {
  gap: 30px;
  font-size: 1.1rem;
  
}

.project-links li {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}


.project-links svg {
  height: 1.1rem;
  width: 1.1rem
}

a {
  text-decoration: none;
  align-self: center;
  color: rgb(83, 83, 83)
}

a:hover {
  color: rgb(112, 167, 231)
}

.project-list ul li {
  border: none;
  padding: 0px;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 3rem; */
  padding-bottom: 50px;
}

.links {
  display: flex;
}

ul {
  flex-direction: row;
  display: flex;
  list-style-type: none;
  gap: 10px;
}


.links svg {
  height: 2.3rem;
  width: 2.3rem;
}

@media (max-width: 1060px) {
  #frame {
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: rgb(212, 212, 212);
    border-width: 2px;
    border-color: rgb(156, 195, 229);
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    gap: 1rem;
    
  }

  .about-me {
    width: 100%;
    /* text-align: left; */
  }

  .left-column {
    padding-bottom: 0px;
  }


/* @media (max-width: 1024px) {
  #frame {

    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: rgb(212, 212, 212);
    border-width: 2px;
    border-color: rgb(156, 195, 229);
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    gap: 1rem;

 
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: rgb(212, 212, 212);
    border-width: 2px;
    border-color: rgb(156, 195, 229);
    border-style: solid;
    display: flex;
    gap: 1rem; 
  }
} */

}